/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/10/2016, 03:34:23 PM
    Author     : Kevin
*/

.principal > #FotoyNombre{
    background: #9AF399;
    padding: 10px;
    color:white;
    font-weight: bold;
    margin-bottom: 10px;
}

.principal > #FotoyNombre > *{
    display: inline-block;
}

.principal > #FotoyNombre >img{
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

img.Alternativa{
    background: white;
    border-radius: 50%;
}

.principal > #FotoyNombre >p{
    font-size: 45px;
    margin:auto;
    margin-left: 5px;
    vertical-align: bottom;
}

.principal > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#divPestanias > ul > li {
    box-sizing: border-box;
    float: left;
}

#divPestanias > ul > li > a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    font-size: 15px;    
    border: 1px solid #219CC4;
    border-bottom: none;
}

/*Estilo de la pestaña seleccionada*/
#divPestanias > ul li a.selec {        
    background-color: #3FACD3;
    color: white;
}

/*Estilo de la pestaña NO seleccionada*/
#divPestanias > ul a.NOselec{
    background-color: #CBE2EA;
    color: #219CC4;  
}

#divPestanias > ul a.NOselec:hover{
    background: #DEEDF2;
}


#divPestanias > ul li a.NOselec:active {
    background-color: #BBD7E1;
}

#infoCliente, #resCliente{
    padding-top: 10px;
    border: 1px solid #3FACD3;
    padding-left: 10px;
}

#infoCliente{
    padding: 10px;
    background: #C6EEFC;
}

#infoCliente img{
   width: 25%;
}

table{
    padding-right: 10px;
    padding-bottom:8px;
}

table *{
    box-sizing: border-box;
}

thead.doce.columnas{
    margin-bottom: 2px;
    background: #3FACD3;
    color: white;
     text-align: left;
    padding:5px;
}

tbody td.tres.columnas, tbody td.dos.columnas{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

tbody tr{
    background: #C6EEFC;
    padding: 5px;
    border-bottom: 2px white solid;
}

td > a{
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    color: black;    
    padding: 5px;
}

td > a:hover{
    text-decoration: underline;
}

td > a:active{
    background: #3FACD3;
    color:white;
}

td  input[type=submit]{
    display:inline-block;
    float:left;
    margin-left: 5px;
}